:root {
  --clr1: #fff8d6;
  --clr2: #f7e1ae;
  --clr3: #a4d0a4;
  --clr4: #617a55;

  --clr5: #a4d0a457;
}

body {
  background-color: var(--clr4);
  color: var(--clr1);
}

.app-header {
  background-color: var(--clr4) !important;
  color: var(--clr1) !important;
}

.toy-preview {
  background-color: var(--clr5);
  color: var(--clr4);
}

.dashboard ul li {
  background-color: var(--clr1);
}
