.toy-index {
  h2 {
    font-size: 3.6rem;
    margin-block-end: 2.4rem;
    margin-inline-end: 2.4rem;
    display: inline-block;
  }
  .add-toy-btn {
    margin-block-end: 1.2rem;
    display: inline-block;
  }
}
