.dashboard {
}

.dashboard h2 {
  font-size: 3.2rem;
  margin-block-end: 2.4rem;
}

.dashboard ul {
  flex-wrap: wrap;
  gap: 2.4rem;
}

.dashboard ul li {
  height: 35rem;
  width: 35rem;
  padding: 1.2rem;
  border-radius: 6px;
}
